.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100% !important;
  padding: 2rem 2.5rem !important;
  z-index: 9999;
  transition: 0.3s;
  background-color: var(--clr-light);
  text-transform: uppercase;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px -2px var(--clr-slate400);
}

.header__wrapper {
  display: flex;
  width: calc(375px - 80px);
  max-width: calc(375px - 80px);
  justify-content: space-between;
  align-items: center;
}

.header__fixed {
  padding: 1rem 2.5rem !important;
}

.header__menu {
  display: none;
}

.header__brand {
  color: var(--clr-slate800);
  font-weight: 800;
  font-size: var(--size-s);
  cursor: pointer;
  transition: 0.3s;
}

.header__brand:hover {
  color: var(--clr-sky);
}

.header__bars {
  color: var(--clr-slate800);
  width: var(--size-2xl);
  height: var(--size-2xl);
  display: block;
}

/* xs */
@media (min-width: 475px) {
  .header__wrapper {
    width: calc(475px - 2.5rem);
    max-width: calc(475px - 2.5rem);
  }
}

/* s */
@media (min-width: 640px) {
  .header__wrapper {
    width: calc(640px - 2.5rem);
    max-width: calc(640px - 2.5rem);
  }
}

/* m */
@media (min-width: 768px) {
  .header__wrapper {
    width: calc(768px - 2.5rem);
    max-width: calc(768px - 2.5rem);
  }

  .header__bars {
    display: none;
  }

  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  .header__brand {
    color: var(--clr-slate800);
    font-size: var(--size-base);
  }

  .header__link {
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-slate800);
    letter-spacing: -0.05em;
    transition: 0.3s;
  }

  .header__link:hover {
    color: var(--clr-emerald);
  }

  .header__line {
    border: 1px solid var(--clr-slate800);
    padding-top: 1.5em;
  }

  .header__sun {
    display: block;
    color: var(--clr-slate800);
    width: var(--size-base);
    height: var(--size-base);
    transition: 0.3s;
  }

  .header__sun:hover {
    color: var(--clr-amber);
  }

  .header__cart {
    display: block;
    color: var(--clr-slate800);
    width: var(--size-base);
    height: var(--size-base);
    transition: 0.3s;
  }

  .header__cart:hover {
    color: var(--clr-sky);
  }
}

/* l */
@media (min-width: 1024px) {
  .header__wrapper {
    width: calc(1024px - 2.5rem);
    max-width: calc(1024px - 2.5rem);
  }

  .header__link {
    font-size: var(--size-s);
  }

  .header__brand {
    color: var(--clr-slate800);
    font-size: var(--size-l);
  }

  .header__sun {
    width: var(--size-xl);
    height: var(--size-xl);
  }

  .header__cart {
    width: var(--size-xl);
    height: var(--size-xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .header__wrapper {
    width: calc(1280px - 2.5rem);
    max-width: calc(1280px - 2.5rem);
  }

  .header__link {
    font-size: var(--size-base);
  }

  .header__brand {
    color: var(--clr-slate800);
    font-size: var(--size-xl);
  }

  .header__sun {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }

  .header__cart {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .header__wrapper {
    width: calc(1536px - 2.5rem);
    max-width: calc(1536px - 2.5rem);
  }
}
