/* Overlay */

.cart__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  z-index: 10000;
  transition: all 0.3s ease-in;
}

.cart__overlay-opened {
  display: flex !important;
}

.cart__overlay-closed {
  display: none !important;
}

/* Cart */

.cart {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  padding: 2rem;
  background-color: var(--clr-light);
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}

.cart-opened {
  right: 0;
}

.cart-closed {
  right: -100%;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__header-title {
  letter-spacing: -0.05em;
  font-size: var(--size-base);
}

.cart__header-btn {
  color: var(--clr-slate800);
  width: var(--size-l);
  height: var(--size-l);
}

.cart__body {
  height: 100%;
  padding-top: 2rem;
}

.cart__body__items-container {
  overflow-y: scroll;
  height: 85%;
}

.cart__body__items-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Cart Item */

.cart__item {
  display: grid;
  background-color: var(--clr-gray);
  grid-template-columns: 1fr;
}

.cart__item-img {
  width: 100%;
  height: 100%;
  background-color: var(--clr-gray);
  padding-left: 1rem;
}

.cart__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart__item-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0.75rem 1rem 1rem;
}

.cart__item-btns {
  display: flex;
}

.cart__item-name {
  font-size: var(--size-base);
  letter-spacing: -0.05em;
  font-weight: 600;
  text-align: center;
}

.cart__item-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__item-btns button {
  font-size: var(--size-l);
  width: var(--size-4xl);
  height: var(--size-4xl);
  color: var(--clr-slate800);
  background-color: var(--clr-light);
  transition: all 0.3s;
  border: 1px solid var(--clr-slate800);
}

.cart__item-btns button:hover {
  background-color: var(--clr-gray);
}

.cart__item-btns p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-l);
  width: var(--size-4xl);
  height: var(--size-4xl);
  font-weight: 600;
  background-color: var(--clr-gray);
  text-align: center;
  border-top: 1px solid var(--clr-slate800);
  border-bottom: 1px solid var(--clr-slate800);
}

.cart__item-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 0.75rem;
  text-align: center;
}

.cart__item-price {
  font-size: var(--size-base);
  font-weight: 600;
  letter-spacing: -0.05em;
}

.cart__item-delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: var(--size-4xl);
  height: var(--size-4xl);
}

.cart__item-delete-btn svg {
  color: var(--clr-slate800);
  width: var(--size-xl);
  height: var(--size-xl);
}

.cart__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

.cart__footer-subtotal {
  display: flex;
  gap: 1rem;
  font-size: var(--size-base);
  font-weight: 800;
  letter-spacing: -0.05em;
}

.cart__footer-checkout-btn {
  text-transform: uppercase;
}

/* Empty Cart */
.cart__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 85%;
  margin: 2rem;
}

.cart__empty img {
  width: 10rem;
  object-fit: cover;
}

.cart__empty-subtitle {
  font-size: var(--size-base);
  font-weight: 600;
  letter-spacing: -0.05em;
  margin: 1rem 0 1rem 0;
}

.cart__empty-btn {
  font-size: var(--size-base);
  text-transform: uppercase;
  background-color: var(--clr-emerald) !important;
  box-shadow: 0 10px 20px rgba(5, 150, 105, 0.3),
    0 6px 6px rgba(5, 150, 105, 0.3), 0 0 100px -10px var(--clr-emerald) !important;
}

.cart__empty-btn:hover {
  box-shadow: 0 14px 28px rgba(5, 150, 105, 0.25),
    0 10px 10px rgba(5, 150, 105, 0.25), 0 0 120px -10px var(--clr-emerald) !important;
}

/* xs */
@media (min-width: 475px) {
  .cart__footer {
    flex-direction: row;
    gap: 0;
  }

  .cart__body__items-container {
    height: 90%;
  }
}

/* s */
@media (min-width: 640px) {
  .cart {
    width: 33rem;
  }

  .cart__body__items-container {
    height: 85%;
    padding-right: 0.5rem;
  }

  .cart__item {
    height: 11rem;
    grid-template-columns: 40fr 40fr 20fr;
  }

  .cart__item-right {
    justify-content: space-between;
  }

  /* Scrollbar */
  .cart__body__items-container::-webkit-scrollbar {
    width: 8px;
  }

  .cart__body__items-container::-webkit-scrollbar-thumb {
    background-color: var(--clr-gray);
    outline: 1px solid var(--clr-gray);
  }

  .cart__header-title {
    font-size: var(--size-xl);
  }

  .cart__header-btn {
    width: var(--size-xl);
    height: var(--size-xl);
  }

  .cart__item-name {
    font-size: var(--size-l);
  }

  .cart__item-btns button {
    font-size: var(--size-l);
  }

  .cart__item-btns p {
    font-size: var(--size-l);
  }

  .cart__item-price {
    font-size: var(--size-l);
  }

  .cart__footer-subtotal {
    font-size: var(--size-xl);
  }

  .cart__footer-checkout-btn {
    font-size: var(--size-xl);
  }

  .cart__empty-subtitle {
    font-size: var(--size-l);
  }

  .cart__empty-btn {
    font-size: var(--size-l);
  }
}

/* m */
@media (min-width: 768px) {
  .cart__header-title {
    font-size: var(--size-2xl);
  }

  .cart__header-btn {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }

  .cart__item-name {
    font-size: var(--size-xl);
  }

  .cart__item-btns p {
    font-size: var(--size-xl);
  }

  .cart__item-delete-btn svg {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }

  .cart__item-price {
    font-size: var(--size-xl);
  }

  .cart__footer-subtotal {
    font-size: var(--size-2xl);
  }

  .cart__empty-subtitle {
    font-size: var(--size-xl);
  }

  .cart__empty-btn {
    font-size: var(--size-xl);
  }
}

/* l */
/* @media (min-width: 1024px) {
} */

/* xl */
/* @media (min-width: 1280px) {
  .cart__header-title {
    font-size: var(--size-3xl);
  }

  .cart__footer-subtotal {
    font-size: var(--size-3xl);
  }
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */
