/* xs */
/* @media (min-width: 475px) {
} */

/* s */
/* @media (min-width: 640px) {
} */

/* m */
/* @media (min-width: 768px) {
} */

/* l */
/* @media (min-width: 1024px) {
} */

/* xl */
/* @media (min-width: 1280px) {
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */

.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  cursor: pointer;
  background-color: var(--clr-sky);
  color: #f1f5f9;
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(2, 132, 199, 0.3),
    0 6px 6px rgba(2, 132, 199, 0.3), 0 0 100px -10px var(--clr-sky);
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgba(2, 132, 199, 0.25),
    0 10px 10px rgba(2, 132, 199, 0.25), 0 0 120px -10px var(--clr-sky);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.section {
  margin-top: 5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* s */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* m */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* l */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .section {
    margin-top: 8rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
